{
  "openapi": "3.0.3",
  "info": {
    "title": "iAlexey.ru API",
    "description": "API endpoints for ialexey.ru including Telegram feed feed and simple pageview tracking.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ialexey.ru"
    }
  ],
  "paths": {
    "/feed.json": {
      "get": {
        "summary": "Get JSON Feed",
        "description": "Retrieves the recent Telegram feed posts in standard JSON feed format.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "channel": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "source": { "type": "string" },
                          "message_id": { "type": "integer" },
                          "date": { "type": "string", "format": "date-time" },
                          "url": { "type": "string" },
                          "text": { "type": "string" },
                          "html": { "type": "string" },
                          "image": { "type": "string", "nullable": true },
                          "edited": { "type": "boolean" },
                          "received_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "summary": "Get RSS Feed",
        "description": "Retrieves the recent Telegram feed posts in RSS XML format.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/stats/pageview": {
      "post": {
        "summary": "Record Pageview",
        "description": "Sends a pageview event for tracking analytics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "path": {
                    "type": "string",
                    "example": "/"
                  }
                },
                "required": ["path"]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully tracked"
          }
        }
      }
    },
    "/tg-feed/healthz": {
      "get": {
        "summary": "Health Check",
        "description": "Returns status 200 and 'ok' if backend collector is running.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "ok"
                }
              }
            }
          }
        }
      }
    }
  }
}
